body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div > .ui.form .field {
  clear: both;
  margin: 0;
  width: 200px;
}

.ui.form {
  display: flex;
}

.todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}